asn1crypto==0.24.0
config==0.4.0
confusable-homoglyphs==3.2.0
cryptography==2.1.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.16
django-bootstrap3==11.0.0
django-bootstrap4==0.0.7
django-decouple==2.1
django-friendship==1.8.0
django-heroku==0.3.1
django-ratings==0.3.7
django-registration==2.4.1
django-tinymce==2.7.0
django-vote==2.1.7
djangorestframework==3.9.0
enum34==1.1.6
gunicorn==19.7.1
gyp==0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Pillow==5.2.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.4
pycrypto==2.6.1
pygobject==3.26.1
python-decouple==3.1
pytz==2018.7
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
static3==0.7.0
unicodecsv==0.14.1
Unipath==1.0
unity-lens-photos==1.0
vboxapi==1.0
whitenoise==4.1.1
